
/* esercizio 1 */

.ex-1-square{
    transition-duration: 2s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */
.ex-2-square{
    transition: all 2000ms;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */

.ex-3-square{
    transition: all 800ms ease-in;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* esercizio 4 */

.ex-4-square{
    transition: all 1000ms;
}
.ex-4-square:hover{
    background-color: transparent;
}

/* esercizio 5 */

.ex-5-square{
    transition: all 800ms ease-in-out;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active{
    width: 20px;
    height: 20px;
    margin: 20px;
}

/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* esercizio 7 */

.ex-7-img{
    transition: 3s ;
}

.ex-7-img:hover{
    filter:  sepia(.8) saturate(.6);

}

/* esercizio 8 */
.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: sepia(.2) saturate(.5);
    border-radius: 20px;
}